body{
    background:linear-gradient(to right,#00AAFF,#00FF6C);
}
.cal-app{
    margin:0 auto;
    margin-top:40px;
    width:340px;
    text-align:center;
    height:740px;
}
.keypad{
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-auto-rows: minmax(70px,auto);
   
   
   }
   button:hover,
   button:focus{
       background-color:rgba(193, 186, 186, 0.9);
       cursor: pointer;

   }
   button{
    font-size: 20px;
    background-color:rgba(255,255,255,.7);
    outline:none;
    border: 1px solid #ccc;
    font-size: 25px;
}
input{
    height:100px;
    width:330px;
    background-color:rgba(0,0,0,.65);
    color:white;
    font-size:30px;
    margin-top:40px;
   
}
#clear{
    grid-column: 1/3;
    grid-row: 1;
}
.colorchange{
    background-color:rgba(0,0,0,.85);
    color: white;
    font-size: 25px;
   
   
}
h1{
    border:2px solid black;
    border-radius: 1px;
    box-shadow: 10px 10px 10px  black;
   
  
}
